<div class="adminblock">
    <ul>
        <li>
            productname:<input type="text" id="pname" class="form-control">
        </li>
        <li>
            productprice:<input type="text" id="pprice" class="form-control">
        </li>
        <li>
            discountprice:<input type="text" id="dprice" class="form-control">
        </li>
        <li>
            manufacture:<input type="text" id="manufacture" class="form-control">
        </li>
        <li>
            rating:<input type="text" id="rating" class="form-control">
        </li>
        <li>
            image:<input type="text" id="image" class="form-control" placeholder="images/url">
        </li>
        <ii>
            <input type="button" value="submit" onclick="validateadminproductdata()">
        </ii>
    </ul>
</div>